.drop_area {
  width: 100%;
  min-height: 7rem;
  color: #dcdcdc;
  border: 1px dashed #dcdcdc;
  padding: 1rem;
  margin: 2rem 0;
  opacity: 1;
  cursor: none;
  transition: all 0.2s ease-in-out;
}
.hide_drop {
  opacity: 0;
  height: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.close_drop {
  opacity: 0;
}
